Final/Documentation/wsdl-wadl-openAPI/dataAnalysisWadl.xml

<application xmlns="http://wadl.dev.java.net/2009/02" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<grammars/>
<resources base="http://data-analysis-service:8091/DataAnalysisRESTProsumerService/DataAnalysis">
<resource path="/">
<resource path="coffeeData">
<method name="GET">
<response>
<representation mediaType="text/plain">
<param name="result" style="plain" type="xs:string"/>
</representation>
</response>
</method>
</resource>
<resource path="humorData">
<method name="GET">
<response>
<representation mediaType="text/plain">
<param name="result" style="plain" type="xs:string"/>
</representation>
</response>
</method>
</resource>
<resource path="sleepData">
<method name="GET">
<response>
<representation mediaType="text/plain">
<param name="result" style="plain" type="xs:string"/>
</representation>
</response>
</method>
</resource>
</resource>
<resource path="/openapi.{type:json|yaml}">
<param name="type" style="template" type="xs:string"/>
<method name="GET">
<request/>
<response>
<representation mediaType="application/json"/>
<representation mediaType="application/yaml"/>
</response>
</method>
</resource>
</resources>
</application>